@import url("//hello.myfonts.net/count/38e26a");

@font-face {font-family: 'HelveticaNeueLTPro-Lt';src: url('./fonts/webfonts/38E26A_0_0.eot');src: url('./fonts/webfonts/38E26A_0_0.eot?#iefix') format('embedded-opentype'),url('./fonts/webfonts/38E26A_0_0.woff2') format('woff2'),url('./fonts/webfonts/38E26A_0_0.woff') format('woff'),url('./fonts/webfonts/38E26A_0_0.ttf') format('truetype');} 
@font-face {font-family: 'BookmanOldStyleStd';src: url('./fonts/webfonts/38E26A_1_0.eot');src: url('./fonts/webfonts/38E26A_1_0.eot?#iefix') format('embedded-opentype'),url('./fonts/webfonts/38E26A_1_0.woff2') format('woff2'),url('./fonts/webfonts/38E26A_1_0.woff') format('woff'),url('./fonts/webfonts/38E26A_1_0.ttf') format('truetype');}
 
body,h1,h2,h3,h4,h5,h6,p,div {
  font-family: 'HelveticaNeueLTPro-Lt';
  color: #666;
}
  
.index, .sku {
  font-size: .8rem;
}

/* .sku {
  font-size: .8rem;
} */

.summary {
  max-width: 45%;
}

.designer {
  font-family: 'BookmanOldStyleStd';
  text-transform: uppercase; 
  font-size: 9pt;
  font-weight: 600;
}

.logo {
  display: flex;
  justify-content: center;
}

  .grid-item img {
    max-width: auto;
    height: 200px;
    z-index: -1;
    padding-top: 24px;
    
    /* user-drag: none;  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  
  .react-draggable:hover {
    border: 1px solid purple;
    cursor: move;
  }
  
  .react-draggable.is-dragging,
  .react-draggable.is-positioning-post-drag {
    background: #C90;
    z-index: 2;
  }
  
  .react-grid-item {
    height: 300px;
    /* width: 240px; */
    text-align: center;
    padding: 4px;
    background-color: #ffffff;
    border: 1px solid black;
  }

  .note {
    color: purple;
  }

  .name {
    height: 24px;
    overflow: hidden;
  }

  .card-title {
    margin-bottom: 0 !important;
  }  
  
  .card-text {
    margin-bottom: 4px !important;
  }