@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat');

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Monserrat", "sans-serif"
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .container {
    background-color: burlywood; 
  } */
  


h1,h2,h3,h4,h5,h6 {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}